*{
    margin:0;
    
}
ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
nav{
    background-color: chocolate;
}
li{
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 20px;
}
li:hover{
    background-color: white;
    color: white;
    cursor: pointer;
}